<% provide(:title, 'Регистрация') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :login %>
      <%= f.text_field :login %>
		<br>
      <%= f.label :email %>
      <%= f.text_field :email %>
		<br>
      <%= f.label :fullname %>
      <%= f.text_field :fullname %>
		<br>
      <%= f.label :password %>
      <%= f.password_field :password %>
		<br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
		<br>
	    <%= f.radio_button(:users_status_id, "2") %>
		<%= f.label(:users_status_id_2, "seller") %>
		<%= f.radio_button(:users_status_id, "3") %>
		<%= f.label(:users_status_id_3, "buyer") %>
		<br>
		<%= f.check_box(:processing_pd) %>
		<%= f.label(:processing_pd, "С правилами обработки ПД ознакомлен") %>
		<br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>